.flight-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    min-width: 800px;
    flex-direction: column; 
    
  }
  .result-title {
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  .flight-card {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(9, 144, 197, 0.3); /* Box shadow */
    background-color: #f5f5f5;
  }
  
  /* Responsive: adjust card width based on screen size */
  @media (max-width: 768px) {
    .flight-card {
      width: 100%; /* 100% width on small screens */
    }
  }



  .flight-leg {
    background-color: #f5f5f5; /* Adjust background color as needed */
    border: 1px solid #ddd; /* Adjust border style, width, and color */
    padding: 5px 10px; /* Adjust padding as needed */
    margin: 5px; /* Adjust margin as needed */
    display: flex; /* Allow us to flex the child elements */
    position: relative; /* Make the element a positioning context */
    
 
  min-height: 30px;
  max-width: 70px;
  font-size: small;

  }

  
  .carrier,
.flight-number {
  position: absolute; /* Make spans absolute relative to their parent */
  bottom: 5px; /* Set bottom position from the bottom edge */
  right: 5px;
  top:25px; /* Set right position from the right edge */
}
.flight-details {
  flex: 0;
    display: flex; /* Make flight-details a flex container */
  }
  
  .flight-info,
  .flight-legs {
    flex: 1; /* Make both columns take up equal space */
    padding: 10px; /* Add some padding for content */
  }
  