<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Búsqueda</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="container mx-auto">
  <div class="max-w-md mx-auto my-10 bg-white p-8 rounded-lg shadow-lg">
    <form class="formulario" (submit)="onSubmit()" *ngIf="searchForm" [formGroup]="searchForm">
      <div class="mb-4">
        <label for="origin" class="block text-gray-700">Origen:</label>
        <input type="text" id="origin" formControlName="origin" class="form-input mt-1 block w-full" required>
      </div>
      <div class="mb-4">
        <label for="destination" class="block text-gray-700">Destino:</label>
        <input type="text" id="destination" formControlName="destination" class="form-input mt-1 block w-full" required>
      </div>
      <div class="mb-4">
        <label for="currency" class="block text-gray-700">Moneda:</label>
        <select id="currency" formControlName="currency" class="form-select mt-1 block w-full" required>
          <option value="USD">USD</option>
          <option value="COP">COP</option>
        </select>
      </div>
      <div class="mb-4">
        <input type="checkbox" id="roundTrip" formControlName="roundTrip" class="form-checkbox mr-2">
        <label for="roundTrip" class="text-gray-700">Ida y vuelta</label>
      </div>
      <button type="submit" [disabled]="searchForm.invalid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Buscar</button>
    </form>
  </div>
</div>

</body>
</html>
