<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Búsqueda</title>
</head>

<body>
 
    <div class="container">
      <div class="search-form-container">
        <form class="formulario" (submit)="onSubmit()" *ngIf="searchForm" [formGroup]="searchForm">
          <div class="origin-destination-row">
            <div class="mb-4 origin-destination-input">
              <label for="origin">Origen:</label>
              <input type="text" id="origin" formControlName="origin" class="form-input" required>
            </div>
            <div class="mb-4 origin-destination-input">
              <label for="destination">Destino:</label>
              <input type="text" id="destination" formControlName="destination" class="form-input" required>
            </div>
          </div>
          <div class="checkboxes-currency-row">
            <div class="mb-4 checkboxes-container">
              <label for="oneWay">Ida:</label>
              <input type="radio" id="oneWay" formControlName="tripType" value="oneWay" class="form-radio mr-2">
            </div>
            <div class="mb-4 checkboxes-container">
              <label for="roundTrip">Ida y vuelta:</label>
              <input type="radio" id="roundTrip" formControlName="tripType" value="roundTrip" class="form-radio mr-2">
            </div>
  
            <div class="mb-4 currency-select">
              <div class="mb-4 checkboxes-container2">
                <label for="currency">Moneda: </label>
              </div>
              <div class="mb-4 checkboxes-container2">
                <select id="currency" formControlName="currency" class="form-select" required>
                  <option value="USD">USD</option>
                  <option value="COP">COP</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="searchForm.invalid"
            class="rounded text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline">Buscar</button>
        </form>
      </div>
      <div *ngIf="showResults">
        <div class="search-results-container">
          <div class="max-w-md mx-auto bg-white p-8">
            <app-search-results [flightResults]="flightSearchResults"></app-search-results>
          </div>
        </div>
      </div>
    </div>
 
</body>

</html>